
{% extends 'khoja/base.html'%}
{% load static %}

{% block title %}
    About
{% endblock %}
{% block body %}
<div class="jumbotron p-4">
    <a href="{% url 'khoja:index' %}">Back to Home</a>
   
</div>

<button class="btn btn-secondary" onclick=" alert('You click the button')">Click me - I run vanila JavaScript</button>
<br>
<button class="btn btn-primary" id="about-btn">Another button</button>
<br>
<div>
    <img src="{% static 'images/curosity.jpg '%}" alt="Curious Mind">
    <img src="{{ MEDIA_URL }}about.jpeg" alt="some img">
</div>
<div>
<!-- <img src="{% get_media_prefix %}about.png " alt="File 2">  -->

</div>
{% endblock %}