{% extends 'khoja/base.html' %}
    {% block title %}
        Add Category
    {% endblock %}
    {% block body %}
    <h1 class="jumbotron p-4">Add a Category</h1>

    <div class="continer-fluid bg-light h-100 ">
    
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <form class="form-inline" action="{% url 'khoja:add_category' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <small id="passwordHelpInline" class="text-muted">
                            Please enter Category.
                        </small>
                    
                    <input type="text" id="id_name" class="form-control mx-sm-3" name="name" maxlength="100" required placeholder="Category">
                    <div class="hidden">
                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}
                    {% for error in error_list %}
                    {{ error }}
                    {% endfor %}
                </div>
                    <button type="submit" class="btn btn-primary ">Submit</button>
                    </div>
                    <!-- {% for field in form.visible_fields %}
                     {{ field.label_tag }} {{ field }} {{ field.errors}}
                    {% endfor %} -->
                
                </form>
            </div>
        </div>

    </div>
 {% endblock %}
