{% extends 'khoja/base.html' %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {%else%}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body %}
    {% if category %}
        {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
        <a href="{% url 'khoja:add_page' category.slug %}">Add Page</a> <br />
    {% else %}
        The specified category does not exist.
    {% endif %}

{% endblock%}
    