{% extends 'khoja/base.html' %}

{% block title %}
    {% if category %}
        {{ category.name }}
    {%else%}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Current Pages</h1>
</div>

<div class="container" >
    {% if category %}
        {% if pages %}
            <ul class="list-group">
                {% for page in pages %}
                <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
        <div class="jumbotron bg-light">
            <strong>No pages currently in category.</strong>
        </div>
        {% endif %}
        <div >
        <a href="{% url 'khoja:add_page' category.slug %}">Add Page</a>
    </div> <br />
    {% else %}
        The specified category does not exist.
    {% endif %}
</div>
{% endblock%}
    