{% extends 'khoja/base.html' %}

{% load static %}


    {% block body %}
    <h1>Khoja all your curosity...</h1>
    
    {% if user.is_authenticated %}
    Welcome to Khoja ,{{ user.username }}
    {% else %}
    <div>
      <br>  hey there partner! <br /> 
    </div>
    {% endif %}
    <!-- <div>
        {% if categories %}
        
        <ul>
            {% for category in categories %}
                <li><a href="{% url 'khoja:show_category' category.slug %}">{{ category.name}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div> -->
    {% endblock%}